---
layout: default
title: Guy de Montlaur
---
<section class="intro lead">
  <div class="container">
    <h1>Peintre du XXe siècle</h1>
    <div class="row">
      <div class="six columns">
        <blockquote>
          <quote>
            <p>
              J’ai envie de crier&nbsp;:<br>
              “Mais regardez donc&nbsp;! Regardez le mystère&nbsp;! Il vous crève les yeux&nbsp;!”
            </p>
            <p>
              Et personne ne voit. Personne que moi.
            </p>
            <p>
              Les gens voient des couleurs, des ombres, des lumières, des formes.
              Ils voient (que sais-je&nbsp;?) peut-être la toile et les clous du châssis.
              Et moi, je ne comprends pas qu’ils ne puissent deviner toute la détresse qui est là, sous les yeux, comme elle était à la guerre&nbsp;: la clameur, la mort, l’amour, la trahison, le mensonge et la peur.
              Et beaucoup plus encore que je ne puis dire, mais que je sais faire.
            </p>
            <p>
              Je dis bien&nbsp;: je sais faire.
            </p>
          </quote>
          <p class="quote-footer">
            Guy de Montlaur<br>
            (Petits écrits de nuit, 28&nbsp;septembre&nbsp;1961)
          </p>
        </blockquote>
      </div>
      <div class="six columns">
        <img src="/peintures/Autoportrait_par_Guy_de_Montlaur.jpg" alt="Autoportrait par Guy de Montlaur">
      </div>
    </div>
    <p>
      <a href="/biographie/">Lire la biographie de Guy de Montlaur</a>
    </p>
  </div>
</section>

<section class="selection" id="selection">
  <div class="container">
    <h2>Sélection de peintures</h2>
    <div class="row text-center">
      {% for peinture in site.data.peintures %}
        <div class="three columns">
          <img class="vignette" src="{{ site.base.url }}/peintures/vignettes/{{ peinture.url }}"><br>
          <strong>{{ peinture.titre }}</strong><br>
          [{{ peinture.hauteur }}&nbsp;cm &times; {{ peinture.largeur }}&nbsp;cm]<br>
          {{ peinture.date }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="expositions lead" id="expositions">
  <div class="container">
    <h2>Expositions en cours</h2>
    <div class="row">
      <div class="nine columns">
        <table class="u-full-width alternate">
         <thead>
          <tr>
           <th>Année</th>
           <th>Lieu</th>
          </tr>
         </thead>
         {% for expo in site.data.expositions limit:3 %}
           <tr>
            <td>{{ expo.annee }}</td>
            <td>{{ expo.texte }}</td>
           </tr>
         {% endfor %}
        </table>
        <p>
          Pour exposer les peintures de Guy de Montlaur, <a href="mailto:%6d%6f&#110;t&#108;&#97;&#117;r&#64;%6d&#111;&#110;t&#108;a&#117;r%2e&#110;e&#116;">contactez-nous par email</a>
        </p>
        <p>
          Voir <a href="/expositions/">les expositions passées</a>
        </p>
      </div>
      <div class="three columns">
        <img src="/peintures/Pegasus1.jpg" alt="Pegasus before landing">
      </div>
    </div>
  </div>
</section>
