<div class="row text-center">
  {% for peinture in include.data limit:4 %}
    <div class="three columns">
      <div id="{{ peinture.Titre | url_encode | strip_html }}" class="bigger">
        <span class="close" onclick="javascript:history.back()"></span>
        {% include peinture.html peinture=peinture file=include.annees bigger=1 %}
      </div>
    </div>
  {% endfor %}
</div>
<div class="row text-center">
  {% for peinture in include.data offset:4 limit:4 %}
    <div class="three columns">
      <div id="{{ peinture.Titre | url_encode | strip_html }}" class="bigger">
        <span class="close" onclick="javascript:history.back()"></span>
        {% include peinture.html peinture=peinture file=include.annees bigger=1 %}
      </div>
    </div>
  {% endfor %}
</div>
