<section class="big-quote">
  <div class="container lead">
    {% if page.quote.title %}
    <h2>{{ page.quote.title }}</h2>
    {% else %}
    <h1>{{ page.title }}</h1>
    {% endif %}
    <div class="flex-row">
      <div class="four columns cover-container text-center">
        <img class="cover" src="{{ site.baseurl }}{{ page.quote.image.src }}" alt="{{ page.quote.image.alt }}">
      </div>
      <div class="eight columns">
        <blockquote>
          {{ content }}
          <p class="quote-footer">
            {{ page.quote.footer }}
          </p>
        </blockquote>
      </div>
    </div>
    {% if page.quote.link.title %}
      <p class="text-center">
        <a class="button" href="{{ site.baseurl }}{{ page.quote.link.url }}">{{ page.quote.link.title }}</a>
      </p>
    {% endif %}
  </div>
</section>
