<section class="bg-white">
  <div class="container lead">
    {% if include.notitle != "oui" %}
      {% if page.quote.title %}
      <h2>{{ page.quote.title }}</h2>
      {% else %}
      <h1>{{ page.title }}</h1>
      {% endif %}
    {% endif %}
    <div class="flex-row">
      <div class="three columns text-center">
        <div id="quoteimg" class="bigger">
          <span class="close" onclick="javascript:history.back()"></span>
          <figure>
            <a href="#quoteimg">
              <img class="framed" src="{{ site.baseurl }}{{ page.quote.image.src }}" alt="{{ page.quote.image.alt }}">
            </a>
            {% if page.quote.image.caption %}
              <figcaption>
                <h5>{{ page.quote.image.alt }}</h5>
                {{ page.quote.image.caption }}<br>
                {{ page.quote.image.caption2 }}
              </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
      <div class="nine columns">
        <blockquote>
          {{ content }}
          <p class="quote-footer">
            {{ page.quote.footer }}
          </p>
        </blockquote>
      </div>
    </div>
    {% if page.quote.link.title %}
      <p class="text-center">
        <a class="button button-primary older" href="{{ site.baseurl }}{{ page.quote.link.url }}">{{ page.quote.link.title }}</a>
        {% if page.quote.link2.title %}
          <a class="button" href="{{ site.baseurl }}{{ page.quote.link2.url }}">{{ page.quote.link2.title }}</a>
        {% endif %}
      </p>
    {% endif %}
  </div>
</section>
