<h4>Ajouter un commentaire</h4>
<form class=""
      action="index.html"
      method="POST"
      netlify="true">
  <div class="row">
    <div class="six columns">
      <label for="comment-name">Votre nom</label>
      <input class="u-full-width" id="comment-name" type="text" name="" value="">
    </div>
    <div class="six columns">
      <label for="comment-email">Votre email</label>
      <input class="u-full-width" id="comment-email" type="email" name="" value="">
    </div>
  </div>
  <label for="comment-body">Votre commentaire</label>
  <textarea id="comment-body" class="u-full-width" name="name"></textarea>
  <button class="button button-primary" type="submit" name="button">Envoyer</button>
</form>
