{% if page.blog.title %}
  <section class="bg-white">
    <div class="container lead">
      <h2 class="blog-title">{{ page.blog.title }}</h2>
{% endif %}

<div class="excerpt">
  <div class="flex-row">
    {% if include.post.picture %}
      <div class="four columns cover-container">
        <a href="{{ include.post.url }}">
          <img class="cover u-full-width" src="{{ include.post.picture }}" alt="{{ include.post.title }}">
        </a>
      </div>
    {% endif %}
    <div class="{% if include.post.picture %}eight {% else %}twelve {% endif %}columns">
      <h3 class="post-title"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
      {% include post-infos.html post=include.post align="center" %}
      {{ include.post.excerpt }}
      <p class="button-container text-center">
        <a class="button button-primary older" href="{{ include.post.url }}">
          {% if page.lang=="EN" %}
            Read more
          {% elsif page.lang=="RU" %}
            Прочитайте больше
          {% else %}
            Lire la suite
          {% endif %}
        </a>
      </p>
    </div>
  </div>
</div>

{% if page.blog.title %}
      <p class="text-center"><a class="button overflow older" href="{{ page.blog.link.url }}">{{ page.blog.link.title }}</a></p>
    </div>
  </section>
{% endif %}
