{% if page.blog.title %}
  <section class="bg-background">
    <div class="container lead">
      <h2 class="blog-title">{{ page.blog.title }}</h2>
{% endif %}

<div class="excerpt">
  <h2 class="post-title"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h2>
  {% include post-infos.html post=include.post align="center" %}
  <div class="flex-row">
    {% if include.post.picture %}
      <div class="four columns cover-container">
        <a href="{{ include.post.url }}">
          <img class="cover u-full-width" src="{{ include.post.picture }}" alt="{{ include.post.title }}">
        </a>
      </div>
    {% endif %}
    <div class="{% if include.post.picture %}eight {% else %}twelve {% endif %}columns">
      {{ include.post.excerpt }}
    </div>
  </div>
  <p class="text-center">
    <a class="button button-primary" href="{{ include.post.url }}">
      {% if page.lang=="EN" %}
        Read more…
      {% elsif page.lang=="RU" %}
        Прочитайте больше…
      {% else %}
        Lire la suite…
      {% endif %}
    </a>
  </p>
</div>

{% if page.blog.title %}
    </div>
  </section>
  <div class="section bg-background lead">
    <div class="container text-center">
      <p class="text-center"><a class="button overflow" href="{{ page.blog.link.url }}">{{ page.blog.link.title }}</a></p>
    </div>
  </div>
{% endif %}
