<section class="bg-white">
  <div class="container lead">
    <h2>{{ page.expositions.title }}</h2>
    <div class="flex-row">
      <div class="nine columns">
        <table class="u-full-width alternate">
          <thead>
            <tr>
              <th>Date</th>
              <th>
                {% if page.lang=="EN" %}
                  Location & description
                {% elsif page.lang=="RU" %}
                  Расположение и описание
                {% else %}
                  Lieu et description
                {% endif %}
              </th>
            </tr>
          </thead>
          {% if page.lang=="EN" %}
            {% for expo in site.data.expositions-en limit:3 %}
              <tr>
                <td>{{ expo.annee }}</td>
                <td>{{ expo.texte }}</td>
              </tr>
            {% endfor %}
          {% if page.lang=="RU" %}
            {% for expo in site.data.expositions-ru limit:3 %}
              <tr>
                <td>{{ expo.annee }}</td>
                <td>{{ expo.texte }}</td>
              </tr>
            {% endfor %}
          {% else %}
            {% for expo in site.data.expositions limit:3 %}
              <tr>
                <td>{{ expo.annee }}</td>
                <td>{{ expo.texte }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </table>
        {% include expose.html %}
      </div>
      <div class="three columns cover-container">
        <img class="cover" src="{{ site.baseurl }}{{ page.expositions.image.src }}" alt="{{ page.expositions.image.alt }}">
      </div>
    </div>
    <p class="text-center">
      <a class="button" href="{{ site.baseurl }}{{ page.expositions.link.url }}">{{ page.expositions.link.title }}</a>
    </p>
  </div>
</section>
