<section class="bg-background">
  <div class="container lead">
    <h2>{{ page.expositions.title }}</h2>
    <div class="flex-row">
      <div class="nine columns">
        <table class="u-full-width alternate">
          <thead>
            <tr>
              <th>Date</th>
              <th>
                {% if page.lang=="EN" %}
                  Location & description
                {% elsif page.lang=="RU" %}
                  Расположение и описание
                {% else %}
                  Lieu et description
                {% endif %}
              </th>
            </tr>
          </thead>
           {% for expo in site.expositions reversed %}
             {% if expo.en-cours == true %}
              <tr>
               <td>
                 {%- if page.lang=="EN" -%}
                   {{ expo.date-en | markdownify }}
                 {%- elsif page.lang=="RU" -%}
                   {{ expo.date-ru | markdownify }}
                 {%- else -%}
                   {{ expo.date-fr | markdownify }}
                 {%- endif -%}
               </td>
               <td>
                 {%- if page.lang=="EN" -%}
                   {{ expo.description-en | markdownify }}
                 {%- elsif page.lang=="RU" -%}
                   {{ expo.description-ru | markdownify }}
                 {%- else -%}
                   {{ expo.description-fr | markdownify }}
                 {%- endif -%}
               </td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        {% include expose.html %}
      </div>
      <div class="three columns cover-container">
        <img class="cover" src="{{ site.baseurl }}{{ page.expositions.image.src }}" alt="{{ page.expositions.image.alt }}">
      </div>
    </div>
    <p class="text-center">
      <a class="button button-primary older" href="{{ site.baseurl }}{{ page.expositions.link.url }}">{{ page.expositions.link.title }}</a>
    </p>
  </div>
</section>
