<nav class="bg-blue sous-menu">
  <div class="container lead">
    <div class="row">
      <div class="four columns">
        <h1 class="title"><a href="#">{{ page.title }}</a></h1>
        <ul class="list-inline accessible-menu">
          <li><a class="button menu-button categories" href="#categories">{{ page.sous-menu }}</a></li>
        </ul>
      </div>
      <div class="eight columns menu" id="categories">
        <ul class="list-inline list-menu">
          <li><a href="#encours">{{ page.title-1 }}</a></li>
          <li><a href="#passees">{{ page.title-2 }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
