<section class="expositions" id="expositions">
  <div class="container lead">
    <h2>{{ page.expositions.title }}</h2>
    <div class="row">
      <div class="nine columns">
        <table class="u-full-width alternate">
         <thead>
          <tr>
           <th>Année</th>
           <th>Lieu et description</th>
          </tr>
         </thead>
         {% for expo in site.data.expositions limit:3 %}
           <tr>
            <td>{{ expo.annee }}</td>
            <td>{{ expo.texte }}</td>
           </tr>
         {% endfor %}
        </table>
        <p class="alert">
         Pour exposer les peintures de Guy de Montlaur, <a href="{{ base.url }}/contact/">contactez-nous</a>.
        </p>
        <p class="text-center">
          <a class="button" href="{{ base.url }}{{ page.expositions.link.url }}">{{ page.expositions.link.title }}</a>
        </p>
      </div>
      <div class="three columns">
        <img src="{{ base.url }}{{ page.expositions.image.src }}" alt="{{ page.expositions.image.alt }}">
      </div>
    </div>
  </div>
</section>
