<p class="alert">
  {% if page.lang=="EN" %}
    To exhibit Guy&nbsp;de&nbsp;Montlaur's paintings: <strong><a href="{{ site.baseurl }}/en/contact/">contact us</a></strong>.
  {% elsif page.lang=="RU" %}
    Экспонировать картины Ги&nbsp;де&nbsp;Монлора: <strong><a href="{{ site.baseurl }}/ru/contact/">Связаться с нами</a></strong>.
  {% else %}
    Pour exposer les peintures de Guy&nbsp;de&nbsp;Montlaur&nbsp;: <strong><a href="{{ site.baseurl }}/contact/">contactez-nous</a></strong>.
  {% endif %}
</p>
