      </div>
      {% if paginator.previous_page_path or paginator.next_page_path or page.next or page.previous %}
        <div class="section bg-background lead">
          <div class="container text-center">
    				<p>
    					{% if paginator.previous_page_path %}
    						<a class="button button-default" href="{{ site.baseurl }}{{ paginator.previous_page_path }}" role="button">&laquo; Billets plus récents</a>
    					{% endif %}

    					{% if paginator.next_page_path %}
    						<a class="button button-default" href="{{ site.baseurl }}{{ paginator.next_page_path }}" role="button">Billets plus anciens &raquo;</a>
    					{% endif %}

    					{% if page.next %}
    						<a class="button button-default overflow next" href="{{ site.baseurl }}{{ page.next.url }}" role="button">
    							{{ page.next.title }}
    						</a>
    					{% endif %}

    					{% if page.previous %}
    						<a class="button button-default overflow previous" href="{{ site.baseurl }}{{ page.previous.url }}" role="button">
    							{{ page.previous.title }}
    						</a>
    					{% endif %}
    				</p>
          </div>
  			</div>
      {% endif %}
      <footer>
        <div class="container">
          <h3>
            {% if page.lang=="EN" %}
              To exhibit Guy&nbsp;de&nbsp;Montlaur’s paintings
            {% elsif page.lang=="RU" %}
              Экспонировать картины Ги&nbsp;де&nbsp;Монлора
            {% else %}
              Pour exposer les&nbsp;peintures de Guy&nbsp;de&nbsp;Montlaur
            {% endif %}
          </h3>
          <p class="lead">
            {% if page.lang=="EN" %}
              <a class="button" href="{{ site.baseurl }}/en/contact/">Contact us</a>
            {% elsif page.lang=="RU" %}
              <a class="button" href="{{ site.baseurl }}/ru/contact/">Связаться с нами</a>
            {% else %}
              <a class="button" href="{{ site.baseurl }}/contact/">Contactez-nous</a>
            {% endif %}
          </p>
          <ul class="list-inline">
            <li>
              Licence <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">CC-by-nc-nd</a>
            </li>
            <li>
              {% if page.lang=="EN" %}
                A <a href="https://half.re">Half revolution</a> website
              {% elsif page.lang=="RU" %}
                веб-сайт <a href="https://half.re">Half revolution</a>
              {% else %}
                Un site <a href="https://half.re">Half revolution</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
