      </div>
      <footer>
        <div class="container">
          <h3>
            {% if page.lang=="EN" %}
              To exhibit Guy de Montlaur's paintings
            {% else %}
              Pour exposer les&nbsp;peintures de Guy&nbsp;de&nbsp;Montlaur
            {% endif %}
          </h3>
          <p>
            {% if page.lang=="EN" %}
              <a class="button" href="{{ site.baseurl }}/en/contact/">Contact us</a>
            {% else %}
              <a class="button" href="{{ site.baseurl }}/contact/">Contactez-nous</a>
            {% endif %}
          </p>
        </div>
      </footer>
    </div>
		<link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700" rel="stylesheet">
  </body>
</html>
