<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} {% if paginator.page and paginator.page != 1 %}(Page {{ paginator.page }} / {{ paginator.total_pages }}) {% endif %}— {{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/montlaur.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
		<script defer id="fairlytics-id-ajcu6jd9k7ysd6" fairlyticskey="654fc6eb-ee72-4a51-93cf-18b722729c27" src="https://fairlytics.tech/dist/js/tag.js"></script>
		{% include script.html %}
	</head>
	<body>
		<div class="everything">
			<nav>
				<div class="row container">
					<div class="four columns">
						<a class="title h1" href="/{% if page.lang=='EN' %}en/{% elsif page.lang=='RU' %}ru/{% endif %}">Montlaur</a>
						<ul class="list-inline accessible-menu">
							<li><a class="button menu-button" href="#menu">{% if page.lang=='RU' %}меню{% else %}Menu{% endif %}</a></li>
							<li class="hidden"><a href="#contenu">Contenu</a></li>
						</ul>
					</div>
					<div class="eight columns menu" id="menu">
						{% include menu.html %}
					</div>
				</div>
			</nav>
			<div id="contenu">
