<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} {% if paginator.page and paginator.page != 1 %}(Page {{ paginator.page }} / {{ paginator.total_pages }}) {% endif %}— {{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/montlaur.css">
	</head>
	<body>
		<div class="everything">
			<nav>
				<div class="row container">
					<div class="four columns">
						<a class="title h1" href="/{% if page.lang=='EN' %}en/{% elsif page.lang=='RU' %}ru/{% endif %}">Montlaur</a>
						<ul class="list-inline accessible-menu">
							<li><a class="button menu-button" href="#menu">{% if page.lang=='RU' %}меню{% else %}Menu{% endif %}</a></li>
							<li class="hidden"><a href="#contenu">Contenu</a></li>
						</ul>
					</div>
					<div class="eight columns menu" id="menu">
						{% include menu.html %}
					</div>
				</div>
			</nav>
			<div id="contenu">
