<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} — {{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/css/montlaur.css">
	</head>
	<body>
		<div class="everything">
			<div class="hidden">
				<ul>
					<li><a href="#menu">Aller au menu</a></li>
					<li><a href="#contenu">Aller au contenu</a></li>
				</ul>
			</div>
			<nav>
				<div class="container">
					<div class="four columns">
						<a class="title h1" href="/">Montlaur</a>
					</div>
					<div class="eight columns menu lead" id="menu">
		    		<ul class="list-inline">
					      <li><a href="/peintures/">Peinture</a></li>
		        		<li><a href="/expositions/">Expositions</a></li>
					      <li><a href="/biographie/">Biographie</a></li>
		    		</ul>
					</div>
				</div>
			</nav>
			<div id="contenu">
