<ul class="list-inline list-menu">
  {% if page.lang=="EN" %}
    <li>
      <a class="lang-link" data-title="français" href="{{ site.baseurl }}/{{ page.url | remove: '/en/' }}">fr</a>
    </li>
    <li>
      <a class="lang-link" data-title="Русский" href="{{ site.baseurl }}/ru/{{ page.url | remove: '/en/' }}">ru</a>
    </li>
    <li class="active lang">
      <a class="lang-link" data-title="English" href="{{ site.baseurl }}/en/{{ page.url | remove: '/en/' }}">en</a>
    </li>
    <li class="item-break first{% if page.active-item=='peintures' %} active{% endif %}">
      <a href="{{ site.baseurl }}/en/peintures/">Paintings</a>
    </li>
    <li {% if page.active-item=='expositions' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/en/expositions/">Exhibitions</a>
    </li>
    <li class="item-break{% if page.active-item=='biographie' %} active{% endif %}">
      <a href="{{ site.baseurl }}/en/biographie/">Biography</a>
    </li>
    <li class="{% if page.active-item=='blog' %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
    <li {% if page.active-item=='contact' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/en/contact/">Contact</a>
    </li>
  {% elsif page.lang=="RU" %}
    <li>
      <a class="lang-link" data-title="English" href="{{ site.baseurl }}/en/{{ page.url | remove: '/ru/' }}">en</a>
    </li>
    <li>
      <a class="lang-link" data-title="français" href="{{ site.baseurl }}/{{ page.url | remove: '/ru/' }}">fr</a>
    </li>
    <li class="active lang">
      <a class="lang-link" data-title="Русский" href="{{ site.baseurl }}/ru/{{ page.url| remove: '/ru/' }}">ru</a>
    </li>
    <li class="item-break first{% if page.active-item=='peintures' %} active{% endif %}">
      <a href="{{ site.baseurl }}/ru/peintures/">Картины</a>
    </li>
    <li {% if page.active-item=='expositions' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/ru/expositions/">Выставки</a>
    </li>
    <li class="item-break{% if page.active-item=='biographie' %} active{% endif %}">
      <a href="{{ site.baseurl }}/ru/biographie/">Биография</a>
    </li>
    <li class="{% if page.active-item=='blog' %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog/">блог</a>
    </li>
    <li {% if page.active-item=='contact' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/ru/contact/">Контакты</a>
    </li>
    {% else %}
    <li>
      <a class="lang-link" data-title="Русский" href="{{ site.baseurl }}/ru{{ page.url }}">ru</a>
    </li>
    <li>
      <a class="lang-link" data-title="English" href="{{ site.baseurl }}/en{{ page.url }}">en</a>
    </li>
    <li class="active lang">
      <a class="lang-link" data-title="français" href="{{ site.baseurl }}{{ page.url }}">fr</a>
    </li>
    <li class="item-break first{% if page.active-item=='peintures' %} active{% endif %}">
      <a href="{{ site.baseurl }}/peintures/">Peinture</a>
    </li>
    <li {% if page.active-item=='expositions' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/expositions/">Expositions</a>
    </li>
    <li class="item-break{% if page.active-item=='biographie' %} active{% endif %}">
      <a href="{{ site.baseurl }}/biographie/">Biographie</a>
    </li>
    <li class="{% if page.active-item=='blog' %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
    <li {% if page.active-item=='contact' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/contact/">Contact</a>
    </li>
    {% endif %}
</ul>
