<ul class="list-inline list-menu">
  {% if page.lang=="EN" %}
    <li>
      <a class="lang-link" data-title="Français" href="{{ site.baseurl }}/">fr</a>
    </li>
    <li>
      <a class="lang-link" data-title="русский" href="{{ site.baseurl }}/ru/">ru</a>
    </li>
    <li class="active lang">
      <a class="lang-link" data-title="English" href="{{ site.baseurl }}/en/">en</a>
    </li>
    <li class="item-break first{% if page.active-item=='peintures' %} active{% endif %}">
      <a href="{{ site.baseurl }}/en/paintings/">Paintings</a>
    </li>
    <li {% if page.active-item=='expositions' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/en/exhibits/">Exhibits</a>
    </li>
    <li class="item-break{% if page.active-item=='biographie' %} active{% endif %}">
      <a href="{{ site.baseurl }}/en/biography/">Biography</a>
    </li>
    <li class="{% if page.active-item=='blog' %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
    <li {% if page.active-item=='contact' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/en/contact/">Contact</a>
    </li>
  {% elsif page.lang=="RU" %}
    <li>
      <a class="lang-link" data-title="English" href="{{ site.baseurl }}/en/">en</a>
    </li>
    <li>
      <a class="lang-link" data-title="Français" href="{{ site.baseurl }}/">fr</a>
    </li>
    <li class="active lang">
      <a class="lang-link" data-title="русский" href="{{ site.baseurl }}/ru/">ru</a>
    </li>
    <li class="item-break first{% if page.active-item=='peintures' %} active{% endif %}">
      <a href="{{ site.baseurl }}/ru/paintings/">Картины</a>
    </li>
    <li {% if page.active-item=='expositions' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/ru/exhibits/">Выставки</a>
    </li>
    <li class="item-break{% if page.active-item=='biographie' %} active{% endif %}">
      <a href="{{ site.baseurl }}/ru/biography/">Биография</a>
    </li>
    <li class="{% if page.active-item=='blog' %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
    <li {% if page.active-item=='contact' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/ru/contact/">Контакты</a>
    </li>
    {% else %}
    <li>
      <a class="lang-link" data-title="русский" href="{{ site.baseurl }}/ru/">ru</a>
    </li>
    <li>
      <a class="lang-link" data-title="English" href="{{ site.baseurl }}/en/">en</a>
    </li>
    <li class="active lang">
      <a class="lang-link" data-title="Français" href="{{ site.baseurl }}/">fr</a>
    </li>
    <li class="item-break first{% if page.active-item=='peintures' %} active{% endif %}">
      <a href="{{ site.baseurl }}/peintures/">Peinture</a>
    </li>
    <li {% if page.active-item=='expositions' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/expositions/">Expositions</a>
    </li>
    <li class="item-break{% if page.active-item=='biographie' %} active{% endif %}">
      <a href="{{ site.baseurl }}/biographie/">Biographie</a>
    </li>
    <li class="{% if page.active-item=='blog' %} active{% endif %}">
      <a href="{{ site.baseurl }}/blog/">Blog</a>
    </li>
    <li {% if page.active-item=='contact' %}class="active"{% endif %}>
      <a href="{{ site.baseurl }}/contact/">Contact</a>
    </li>
    {% endif %}
</ul>
