<section class="bg-background">
  <div class="container lead">
    {% if page.lang=="EN" %}
      <h2>Retrospective</h2>
    {% elsif page.lang=="RU" %}
      <h2>Ретроспектива</h2>
    {% else %}
      <h2>Rétrospective</h2>
    {% endif %}
    {% assign retropost = site.retrospective | reverse %}
    {% assign min = 1 %}
    {% assign max = site.retrospective | size %}
    {% assign diff = max | minus: min %}
    {% assign randomNumber = site.time | date: "%s" | modulo: diff | plus: min %}
    {% for post in retropost offset:randomNumber limit:1 %}
      {% include retropost.html post = post lienretro = "oui" %}
    {% endfor %}
  </div>
</section>
