<figure>
  {% if include.bigger %}<a href="#{{ include.peinture.Titre }}">{% endif %}
    <img class="framed"
        alt="{{ include.peinture.Title | strip_html }}"
        srcset="{{ site.baseurl }}/peintures/320/{{ include.file }}/{{ include.peinture.Url }} 320w,
                {{ site.baseurl }}/peintures/800/{{ include.file }}/{{ include.peinture.Url }} 800w,
                {{ site.baseurl }}/peintures/1100/{{ include.file }}/{{ include.peinture.Url }} 1100w,
                {{ site.baseurl }}/peintures/1500/{{ include.file }}/{{ include.peinture.Url }} 1500w,
                {{ site.baseurl }}/peintures/2000/{{ include.file }}/{{ include.peinture.Url }} 2000w"
        sizes="90vh"
        src="{{ site.baseurl }}/peintures/800/{{ include.file }}/{{ include.peinture.Url }}">
  {% if include.bigger %}</a>{% endif %}
  <figcaption>
    <h5>{{ include.peinture.Titre }}</h5>
    {% if include.peinture.Hauteur and include.peinture.Largeur %}
      {{ include.peinture.Hauteur }}&nbsp;cm &times; {{ include.peinture.Largeur }}&nbsp;cm
    {% endif %}
    {% if include.peinture.Date or include.peinture.Lieu %}
      <br>
      {{ include.peinture.Lieu }}
      {{ include.peinture.Date | date:"%Y" }}
    {% endif %}
  </figcaption>
</figure>
