<nav class="bg-blue sous-menu">
  <div class="container lead">
    <div class="row">
      <div class="four columns">
        <a class="title h1" href="./">{{ page.menutitle }}</a>
        <ul class="list-inline accessible-menu">
          <li><a class="button menu-button categories" href="#categories">{{ page.sous-menu }}</a></li>
        </ul>
      </div>
      <div class="eight columns menu" id="categories">
        <ul class="list-inline list-menu">
        {% if page.lang=="EN" %}
          <li><a href="/en/paintings/retrospective">Retrospective</a></li>
          <li><a href="/en/paintings/selection">Selection</a></li>
        {% elsif page.lang=="RU" %}
          <li><a href="/ru/paintings/retrospective">Ретроспектива</a></li>
          <li><a href="/ru/paintings/selection">Выбор</a></li>
        {% else %}
          <li><a href="/peintures/retrospective">Rétrospective</a></li>
          <li><a href="/peintures/selection">Sélection</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
