<div class="excerpt">
  <div class="row">
    <div class="five columns">
      <div id="{{ include.post.title | url_encode | strip_html }}" class="bigger">
        <span class="close" onclick="javascript:history.back()"></span>
        <figure>
          <a href="#{{ include.post.title | url_encode | strip_html }}">
            <img  class="framed"
                  src="{{ include.post.picture }}"
                  alt="{{ include.post.title }}"
                  {%- unless include.notitle == "yes" -%}loading="lazy"{%- endunless -%}>
          </a>
          <figcaption>
            {% if page.lang=="EN" %}
              <h5>{{ include.post.title-en }}</h5>
              {% if include.post.type-en %}{{ include.post.type-en }}, {% endif %}{{ include.post.dimensions-en }}<br>
              {{ include.post.place-en }}, {{ include.post.annee-aff-en }}
            {% elsif page.lang=="RU" %}
              <h5>{{ include.post.title-ru }}</h5>
              {% if include.post.type-ru %}{{ include.post.type-ru }}, {% endif %}{{ include.post.dimensions-ru }}<br>
              {{ include.post.place-ru }}, {{ include.post.annee-aff-ru }}
            {% else %}
              <h5>{{ include.post.title }}</h5>
              {% if include.post.type %}{{ include.post.type }}, {% endif %}{{ include.post.dimensions }}<br>
              {{ include.post.place }}, {{ include.post.annee-aff }}
            {% endif %}
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="seven columns">
      {% if include.post.era and include.post.theme %}
        <ul class="list-inline theme-era">
          {% if page.lang=="EN" %}
            <li class="post-infos">{{ include.post.theme-en }}</li>
            <li class="post-infos">{{ include.post.era-en }}</li>
          {% elsif page.lang=="RU" %}
            <li class="post-infos">{{ include.post.theme-ru }}</li>
            <li class="post-infos">{{ include.post.era-ru }}</li>
          {% else %}
            <li class="post-infos">{{ include.post.theme }}</li>
            <li class="post-infos">{{ include.post.era }}</li>
          {% endif %}
        </ul>
      {% endif %}
      {%- unless include.notitle == "yes" or page.lang -%}
        <h3 class="post-title"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h3>
      {%- elsif page.lang == "EN" -%}
        <h3>{{ include.post.title-en }}</h3>
      {%- elsif page.lang == "RU" -%}
        <h3>{{ include.post.title-ru }}</h3>
      {%- else -%}
        <h2>{{ include.post.title }}</h2>
      {%- endunless -%}
      <div class="retropost-desc">
        {% if page.lang=="EN" %}
          {{ include.post.description-en | markdownify }}
        {% elsif page.lang=="RU" %}
          {{ include.post.description-ru | markdownify }}
        {% else %}
          {{ include.post.description-fr | markdownify }}
        {% endif %}
      </div>
    </div>
  </div>
  {% if include.lienretro == "oui" %}
    <p class="text-center">
      {% if page.lang=="EN" %}
        <a class="button button-primary older" href="/en/paintings/retrospective">See the retrospective</a>
      {% elsif page.lang=="RU" %}
        <a class="button button-primary older" href="/ru/paintings/retrospective">Посмотреть ретроспективу</a>
      {% else %}
        <a class="button button-primary older" href="/peintures/retrospective">Voir la rétrospective</a>
      {% endif %}
    </p>
  {% endif %}
</div>
