<div class="excerpt">
  <div class="row">
    <div class="four columns">
      <img class="cover u-full-width" src="{{ include.post.picture }}" alt="{{ include.post.title }}">
    </div>
    <div class="{% if include.post.picture %}eight {% else %}twelve {% endif %}columns">
      <div class="text-center">
        <h3 class="post-title">{{ include.post.title }}</h3>
        <p class="list-inline post-infos">
          {{ include.post.dimensions }}{% if include.post.type %}, {{ include.post.type }}{% endif %}<br>
          <strong>{{ include.post.place }}, {{ include.post.annee }}</strong>

        </p>
      </div>
        {% if page.lang=="EN" %}
          {{ include.post.description-en | newline_to_br }}
        {% elsif page.lang=="RU" %}
          {{ include.post.description-ru | newline_to_br }}
        {% else %}
          {{ include.post.description-fr | newline_to_br }}
        {% endif %}
    </div>
  </div>
  {% if include.lienretro == "oui" %}
    <p class="text-center">
      {% if page.lang=="EN" %}
        <a class="button button-primary older" href="/en/paintings/retrospective">See the retrospective</a>
      {% elsif page.lang=="RU" %}
        <a class="button button-primary older" href="/ru/paintings/retrospective">Посмотреть ретроспективу</a>
      {% else %}
        <a class="button button-primary older" href="/peintures/retrospective">Voir la rétrospective</a>
      {% endif %}
    </p>
  {% endif %}
</div>
