---
layout: default
title: Peinture — Guy de Montlaur
---
<section class="big-quote">
  <div class="container lead">
    <h1>Peinture</h1>
    <div class="row">
      <div class="three columns">
        <img src="/photos/GdM.jpg" alt="Guy de Montlaur">
      </div>
      <div class="nine columns">
        <blockquote>
          <quote>
            <p>Et la peinture&nbsp;?</p>
            <p>
              Elle m’apparut comme le moyen justement de dire ces «&nbsp;choses importantes&nbsp;» dont nous ne pouvions parler. Ces choses ne peuvent être exprimées en langage clair. Elles sont proprement indicibles. Elles deviennent floues et finissent par s’évanouir à l’analyse. On ne peut les évoquer que par allusion.
            </p>
          </quote>
          <p class="quote-footer">
            Guy de Montlaur, 25 septembre 1961
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<section class="peintures">
  <div class="container lead">
    <h2>Années 1940</h2>
    <div class="row text-center">
      {% for peinture in site.data.annees-40 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-40" %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      {% for peinture in site.data.annees-40 offset: 4 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-40" %}
        </div>
      {% endfor %}
    </div>
    <h2>Années 1950</h2>
    <div class="row text-center">
      {% for peinture in site.data.annees-50 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-50" %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      {% for peinture in site.data.annees-50 offset: 4 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-50" %}
        </div>
      {% endfor %}
    </div>
    <h2>Années 1960</h2>
    <div class="row text-center">
      {% for peinture in site.data.annees-60 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-60" %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      {% for peinture in site.data.annees-60 offset: 4 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-60" %}
        </div>
      {% endfor %}
    </div>
    <h2>Années 1970</h2>
    <div class="row text-center">
      {% for peinture in site.data.annees-70 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-70" %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      {% for peinture in site.data.annees-70 offset: 4 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-70" %}
        </div>
      {% endfor %}
    </div>
  </container>
    <p class="text-center lead">
      <a class="button" href="/peintures/archives.html">Voir les archives</a>
    </p>
</section>
