---
layout: default
title: Peinture — Guy de Montlaur
big-title: "Peinture"
---
<section class="peintures">
  <div class="container">
    <h1>Peinture</h1>
    <h2>Années 1940</h2>
    <div class="row text-center">
      {% for peinture in site.data.annees-40 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-40" %}
        </div>
      {% endfor %}
    </div>
    <div class="row text-center">
      {% for peinture in site.data.annees-40 offset: 4 limit:4 %}
        <div class="three columns">
          {% include peinture.html peinture=peinture file="annees-40" %}
        </div>
      {% endfor %}
    </div>
    <h2>Années 1950</h2>
    <h2>Années 1960</h2>
    <h2>Années 1970</h2>
  </container>
    <p class="text-center lead">
      <a class="button" href="/peintures/archives.html">Voir les archives</a>
    </p>
</section>
