---
layout: default
title: Expositions
---
<section class="bg-background">
  <div class="container lead">
    <h1>Expositions</h1>
    <h2>Expositions en&nbsp;cours</h2>
    <div class="row">
      <div class="nine columns">
        <table class="u-full-width alternate">
         <thead>
          <tr>
           <th>Date</th>
           <th>Lieu et description</th>
          </tr>
         </thead>
         {% for expo in site.data.expositions %}
           <tr>
            <td>{{ expo.annee }}</td>
            <td>{{ expo.texte }}</td>
           </tr>
         {% endfor %}
       </table>
        <p class="alert">
          Pour exposer les peintures de Guy de Montlaur, <a href="{{ base.url }}/contact/">contactez-nous</a>.
        </p>
      </div>
      <div class="three columns">
        <img src="/expositions/expo-GdM-Ranville-2.jpg">
      </div>
    <h2>Expositions passées</h2>
    <table class="u-full-width alternate">
     <thead>
      <tr>
       <th>Date</th>
       <th>Lieu et description</th>
      </tr>
     </thead>
     {% for expo in site.data.expositions-passees %}
       <tr>
        <td>{{ expo.annee }}</td>
        <td>{{ expo.texte }}</td>
       </tr>
     {% endfor %}
    </table>
  </div>
</section>
