---
layout: default
title: Expositions
active-item: expositions
---
<section class="bg-background">
  <div class="container lead">
    <h1>Expositions</h1>
    <div class="flex-row">
      <div class="nine columns">
        <table class="u-full-width alternate">
         <thead>
          <tr>
           <th>Date</th>
           <th>Lieu et description</th>
          </tr>
         </thead>
         {% for expo in site.data.expositions %}
           <tr>
            <td>{{ expo.annee }}</td>
            <td>{{ expo.texte }}</td>
           </tr>
         {% endfor %}
       </table>
       {% include expose.html %}
      </div>
      <div class="three columns cover-container">
        <img class="cover" src="{{ site.baseurl }}/expositions/expo-GdM-Ranville-2.jpg" alt="Exposition à Ranville">
      </div>
    </div>
    <h2>Expositions passées</h2>
    <table class="u-full-width alternate">
     <thead>
      <tr>
       <th>Date</th>
       <th>Lieu et description</th>
      </tr>
     </thead>
     {% for expo in site.data.expositions-passees %}
       <tr>
        <td>{{ expo.annee }}</td>
        <td>{{ expo.texte }}</td>
       </tr>
     {% endfor %}
    </table>
  </div>
</section>
