---
layout: default
title: Expositions — Guy de Montlaur
---
<section class="expositions">
  <div class="container lead">
    <h1>Expositions</h1>
    <div class="row">
      <div class="nine columns">
        <table class="u-full-width alternate">
         <thead>
          <tr>
           <th>Année</th>
           <th>Lieu et description</th>
          </tr>
         </thead>
         {% for expo in site.data.expositions %}
           <tr>
            <td>{{ expo.annee }}</td>
            <td>{{ expo.texte }}</td>
           </tr>
         {% endfor %}
       </table>
        <p>
          Pour exposer les peintures de Guy de Montlaur, <a href="mailto:%6d%6f&#110;t&#108;&#97;&#117;r&#64;%6d&#111;&#110;t&#108;a&#117;r%2e&#110;e&#116;">contactez-nous par email</a>
        </p>
      </div>
      <div class="three columns">
        <img src="/peintures/expo-GdM-Ranville-2.jpg">
      </div>
    <h2>Expositions passées</h2>
    <table class="u-full-width alternate">
     <thead>
      <tr>
       <th>Année</th>
       <th>Lieu et description</th>
      </tr>
     </thead>
     {% for expo in site.data.expositions-passees %}
       <tr>
        <td>{{ expo.annee }}</td>
        <td>{{ expo.texte }}</td>
       </tr>
     {% endfor %}
    </table>
  </div>
</section>
