{% include head.html %}
{% include blog-menu.html %}
<section class="bg-background">
  <div class="container lead">
    {% for post in paginator.posts %}
      <div class="excerpt">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="text-center post-infos">
          Publié le <strong><em>{{ post.date | date: "%d/%m/%Y" }}</em></strong>
          {% if post.auteur %}par <em>{{ post.auteur }}</em>{% endif %} — 
          <a href="/category/{{ post.category }}.html">{{ post.category }}</a>
        </p>
        <div class="flex-row">
          <div class="four columns cover-container">
            {% if post.picture %}
              <img class="cover u-full-width" src="{{ post.picture }}" alt="{{ post.title }}">
            {% endif %}
          </div>
          <div class="eight columns">
            {{ post.excerpt }}
          </div>
        </div>
        <p class="text-center"><a class="button button-primary" href="{{ post.url }}">Lire la suite</a></p>
      </div>
    {% endfor %}
  </div>
</section>
{% include foot.html %}
