{% include head.html %}
<section class="bg-background">
  <div class="container lead">
    <h1>{{ page.title }}</h1>
  </div>
</section>
<section class="contact bg-white">
  <div class="container lead">
    <form name="contact{{page.lang}}"
          action="{{ site.baseurl }}{{ page.contact.thankyou }}"
          method="POST"
          netlify="true">
      <div class="flex-row">
        <div class="seven columns">
          <label for="name">{{ page.contact.name }}</label>
          <input id="name" type="text" name="_name" placeholder="Robert Montalu" required="required">
          <label for="_replyto">{{ page.contact.email }}</label>
          <input id="_replyto" type="email" name="_replyto" placeholder="robert.montalu@yooha.fr" required="required">
          <label for="message">{{ page.contact.message }}</label>
          <textarea id="message" class="u-full-width" name="message" placeholder="{{ page.contact.message-field }}" required="required"></textarea>
          <input class="button button-primary" type="submit" value="{{ page.contact.send }}">
        </div>
        <div class="five columns cover-container">
          <div id="nature-morte" class="bigger">
            <span class="close" onclick="javascript:history.back()"></span>
            <figure>
              <a href="#nature-morte">
                <img class="framed" src="{{ site.baseurl }}/contact/nature-morte-aux-livres.jpg" alt="Nature morte aux livres">
              </a>
              <figcaption>
                <h5>Nature morte aux livres</h5>
                huile, 61cm &times; 50cm<br>
                South Salem, NY
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
{% include foot.html %}
