<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/normalize.css">
			<link rel="stylesheet" type="text/css" href="/css/montlaur.css">
		</head>
		<body>
			<nav class="container">
	    		<ul class="list-inline">
	        		<li><h1>{{ page.title }}</h1></li>
		        	<li><a href="/peintures">Peinture</a></li>
	        		<li><a href="/expositions">Expositions</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>

			{{ content }}

			<!-- <footer>
	    	<ul class="list-inline">
	      	<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	      	<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
