{% include head.html %}
{% include expo-menu.html %}
<section id="encours" class="bg-white anchor">
  <div class="container lead">
    <h2>{{ page.title-1 }}</h2>
    <div class="flex-row">
      <div class="nine columns">
        <table class="u-full-width alternate">
         <thead>
          <tr>
           <th>{{ page.expositions.date }}</th>
           <th>{{ page.expositions.lieu-description }}</th>
          </tr>
         </thead>
          {% for expo in site.expositions reversed %}
            {% if expo.en-cours == true %}
             <tr>
              <td>
                {%- if page.lang=="EN" -%}
                  {{ expo.date-en | markdownify }}
                {%- elsif page.lang=="RU" -%}
                  {{ expo.date-ru | markdownify }}
                {%- else -%}
                  {{ expo.date-fr | markdownify }}
                {%- endif -%}
              </td>
              <td>
                {%- if page.lang=="EN" -%}
                  {{ expo.description-en | markdownify }}
                {%- elsif page.lang=="RU" -%}
                  {{ expo.description-ru | markdownify }}
                {%- else -%}
                  {{ expo.description-fr | markdownify }}
                {%- endif -%}
              </td>
             </tr>
           {% endif %}
         {% endfor %}
       </table>
       {% include expose.html %}
      </div>
      <div class="three columns cover-container">
        <img class="contain" src="{{ site.baseurl }}/expositions/Affiche_Montlaur8.jpg" alt="Exposition à Ranville">
      </div>
    </div>
  </div>
</section>
<section id="passees" class="bg-background anchor">
  <div class="container lead">
    <h2>{{ page.title-2 }}</h2>
    <table class="u-full-width alternate">
      <thead>
        <tr>
          <th>{{ page.expositions.date }}</th>
          <th>{{ page.expositions.lieu-description }}</th>
        </tr>
      </thead>
      {% for expo in site.expositions reversed %}
        {% if expo.en-cours == false %}
         <tr>
          <td>
            {%- if page.lang=="EN" -%}
              {{ expo.date-en }}
            {%- elsif page.lang=="RU" -%}
              {{ expo.date-ru }}
            {%- else -%}
              {{ expo.date-fr }}
            {%- endif -%}
          </td>
          <td>
            {%- if page.lang=="EN" -%}
              {{ expo.description-en }}
            {%- elsif page.lang=="RU" -%}
              {{ expo.description-ru }}
            {%- else -%}
              {{ expo.description-fr }}
            {%- endif -%}
          </td>
         </tr>
       {% endif %}
      {% endfor %}
    </table>
  </div>
</section>
{% include foot.html %}
