<!DOCTYPE html>
<html lang="fr-fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} {% if paginator.page and paginator.page != 1 %}(Page {{ paginator.page }} / {{ paginator.total_pages }}) {% endif %}— {{ site.name }}</title>
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/montlaur.css">
	</head>
	<body>
		<div class="everything">
      <div id="contenu">
				<section class="bg-background">
				  <div class="container lead">
				    <h1>{{ page.title }}</h1>
				  </div>
				</section>
				<section class="bg-white">
					<div class="container lead">
						{{ content }}
					</div>
				</section>
			</div>
		</div>
		<link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,700" rel="stylesheet">
	</body>
</html>
