{% include head.html %}
{% include peinture-menu.html %}
{% include big-quote.html notitle = "oui" %}
<section class="bg-alternate">
  <div class="container lead">
    <div class="row text-center">
      {% for peinture in site.data.annees-40 offset:5 limit:1 %}
        <div class="three columns">
          <div id="{{ peinture.Titre | url_encode | strip_html }}" class="bigger">
            <span class="close" onclick="javascript:history.back()"></span>
            {% include peinture.html peinture=peinture file="annees-40" bigger=1 %}
          </div>
        </div>
      {% endfor %}
      {% for peinture in site.data.annees-50 offset:2 limit:1 %}
        <div class="three columns">
          <div id="{{ peinture.Titre | url_encode | strip_html }}" class="bigger">
            <span class="close" onclick="javascript:history.back()"></span>
            {% include peinture.html peinture=peinture file="annees-50" bigger=1 %}
          </div>
        </div>
      {% endfor %}
      {% for peinture in site.data.annees-60 offset:5 limit:1 %}
        <div class="three columns">
          <div id="{{ peinture.Titre | url_encode | strip_html }}" class="bigger">
            <span class="close" onclick="javascript:history.back()"></span>
            {% include peinture.html peinture=peinture file="annees-60" bigger=1 %}
          </div>
        </div>
      {% endfor %}
      {% for peinture in site.data.annees-70 offset:2 limit:1 %}
        <div class="three columns">
          <div id="{{ peinture.Titre | url_encode | strip_html }}" class="bigger">
            <span class="close" onclick="javascript:history.back()"></span>
            {% include peinture.html peinture=peinture file="annees-70" bigger=1 %}
          </div>
        </div>
      {% endfor %}
    </div>
    <p class="text-center">
      {% if page.lang=="EN" %}
        <a class="button button-primary older" href="/en/paintings/selection">See the selection</a>
      {% elsif page.lang=="RU" %}
        <a class="button button-primary older" href="/ru/paintings/selection">Посмотреть выбор</a>
      {% else %}
        <a class="button button-primary older" href="/peintures/selection">Voir la sélection</a>
      {% endif %}
    </p>
  </div>
</section>
<section class="bg-background">
  <div class="container lead">
    {% assign retropost = site.retrospective | reverse %}
    {% for post in retropost limit:1 %}
      {% include retropost.html post = post lienretro = "oui" %}
    {% endfor %}
  </div>
</section>
{% include foot.html %}
