{% include head.html %}
{% include big-quote.html %}
<section class="bg-alternate">
  <div class="container lead">
    <h2>1940 — 1950</h2>
    {% include annees.html data=site.data.annees-40 annees="annees-40" %}
    <h2>1950 — 1960</h2>
    {% include annees.html data=site.data.annees-50 annees="annees-50" %}
    <h2>1960 — 1970</h2>
    {% include annees.html data=site.data.annees-60 annees="annees-60" %}
    <h2>1970 — 1977</h2>
    {% include annees.html data=site.data.annees-70 annees="annees-70" %}
  </div>
</section>
{% include foot.html %}
