{% include head.html %}
{% include blog-menu.html %}
<section class="bg-background">
  <div class="container lead">
    <h1>{{ page.title }}</h1>
    {% include post-infos.html post=page align="left" %}
    <div class="row post">
      {% if page.picture %}
        <div class="four columns">
          <img class="u-full-width" src="{{ page.picture }}" alt="{{ page.title }}">
        </div>
      {% endif %}
      <div class="{% if page.picture %}eight {% else %}twelve {% endif %}columns">
        {{ content }}
      </div>
    </div>
  </div>
</section>
{% include foot.html %}
